.html, body{
        background-image: url(bg.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
    background-position: left;
margin: 0;
padding: 0;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
background-color: rgba 0.2px.2px.0 (217.217.217.1);
    
}

.logo-img {
    margin-right: 60px;
    
}

.navbar-inverse {
background: rgba(0, 0, 0, 0.65) !important;
}
    





.container {
  margin: 0px 100px;  
}

.header-line {
   padding-top: 10px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    justify-content: flex-start;
    
    
  

    
}

.nav-item {
    color:#FFF;
    text-decoration: none;
    font-family: 'Basic', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-right: 60px;
    cursor: pointer;
    cursor:pointer;
    transition: 0.5;
    
    
}

.nav-item:hover {
    color:red; 
}

.card {
    background-color: black;
    width: 28%;
    height: 300px;
    margin-right: 31px;
    margin-top: 200px;
}



.card-image {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 140px;
    margin-left: 39px;
    margin-top: 10px;

}



.card-title {
   display: flex;
    justify-content: center; 
    color: gainsboro;
}

.card-desc {
    display: flex;
    justify-content: center;
    color: white;
}

.card-ch {
    display: flex;
    justify-content: center;
    color: white;
}

.card-name {
    display: flex;
    justify-content: center;
    color: white;
}
    
.card-price {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: red;
     
}

.card-rp {
    color: white;
    text-decoration: none;
    background-color: red;
    width: 35%;
   margin-left: 6px;
    
}

.card-hold {
    display: flex;
   justify-content: center;
    
}





